/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*css reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*css clearfix float*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

body {
	background-image: url(user/seigaiha.png);
	font-family: arial, sans-serif;
	color: #333;
}
.select {
	width: 200px; /* Lebar input select */
  padding: 8px; /* Padding untuk tata letak yang nyaman */
  font-size: 16px; /* Ukuran font */
  border: 1px solid #ccc; /* Garis batas dengan warna abu-abu */
  border-radius: 4px; /* Sudut bulat */
  outline: none; 
}

.container {
	width: 960px;
	margin: auto;
	background-color: #fff;
/*	border-left: 3px dashed #333;
	border-right: 3px dashed  #333;*/
	box-sizing: border-box;
}

.contenta {
	width: 900px;
	height: 100vh;
	box-sizing: border-box;
	margin: auto;
}

.contenta h1{
	margin: 100px auto;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	color: #333;
}


/*css pd header*/
.header {
	padding: 25px;
	background-color: skyblue;
	border-bottom: 5px solid lightblue;
}

.header h1 {
	font-size: 40px;
	font-weight: bold;
}

.header ul li {
	display: inline-block;
	margin-top: 20px;
	margin-right: 10px;
}

.header li a {
	text-decoration: none;
	font-size: 18px;
	color: #333;
	padding: 4px;
}

.header a:hover {
	background-color: lightblue;
	border-radius: 5px;
}

/*foto pd hal dasboard*/
.ayam {
	height: 300px;
	background-image: url(user/ayam.jpg);
	background-size: cover;
	background-position: 0 -190px;
	border-bottom: 5px solid lightblue;
}

/*css pd hal dasboard-main*/
.main {
	width: 600px;
	padding: 20px;
	box-sizing: border-box;
	float: left;
	height: 100vh;
}

.main h2{
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 10px;
}

.main .isi {
	font-size: 14px;
	margin-top: 5px;
	line-height: 25px;
	text-align: justify;
}
.main p {
	margin-bottom: 20px;
	text-indent: 30px;
}

/*css pd dasboard-about*/
.about {
	width: 300px;
	padding: 20px;
	box-sizing: border-box;
	float: right;	
	height: 100vh;
}

.about h2{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}

.about img {
	width: 70px;
	height: 70px;
	float: left;
	padding-right: 10px;
}


.about p {
	font-size: 12px;
	margin-bottom: 20px;
	line-height: 20px;
	text-align: justify;
}

/*css pada footer*/
.footer { 
	padding: 12px; 
	background-color: #333; 

}
.footer p {
	font-size: 12px;
	color: #eaeaea;
	text-align: center;
}

/*css pd hal login*/
.login {
	width: 500px;
	background-color: white;
	margin:150px auto;
	border: 4px dashed lightblue;
}

.login h1{
	font-size: 28px;
	text-align: center;
	padding: 20px;
	margin-top: 15px;
}

.login table {
	margin: 10px auto 30px;
	
}
.login table td {
	padding: 20px;
	font-size: 20px;
	text-align: center;
	border: none;
}

.login input {
	padding: 8px;
	border: none;
	border-bottom: 1px solid #333;
	font-size: 15px;
}
.login button{
	border: none;
	width: 90px;
	padding: 10px;
	font-size: 20px;
	color: #333;	
	background-color: skyblue;
	margin-right: 20px;
	margin-left: 20px;
	border-radius: 5px;
}

.login a {
	font-size: 20px;
	text-decoration: none;
	color: #333;
}
.login button:hover {
	background-color: lightblue;
}

/*css pd hal daftar penyakit*/
.daftar {
	height: 100vh;
	padding: 20px;
	box-sizing: border-box;
}

.penyakit {
	margin: auto;
}

.kotak1 {
	width: 285px;
	height: 250px;
	background-color: #eaeaea;
	float: left;
	margin:7px ;
	border: 2px solid #333;
	box-sizing: border-box;
}

.kotak2 {
	width: 285px;
	height: 250px;
	background-color: #eaeaea;
	float: left;
	margin: 7px;
	border: 2px solid #333;
	box-sizing: border-box;
}

.kotak3 {
	width: 285px;
	height: 250px;
	background-color: #eaeaea;
	float: left;
	margin: 7px;
	border: 2px solid #333;
	box-sizing: border-box;
}

.kotak4 {
	width: 285px;
	height: 250px;
	background-color: #eaeaea;
	float: left;
	margin: 7px;
	border: 2px solid #333;
	box-sizing: border-box;
}

.kotak5 {
	width: 285px;
	height: 250px;
	background-color: #eaeaea;
	float: left;
	margin: 7px;
	border: 2px solid #333;
	box-sizing: border-box;
}

.daftar h2{
	font-size: 28px;
	font-weight: bold;
	margin-left:10px ;
	margin-bottom: 10px;
	text-decoration: underline;
}

.imgpenyakit {
	width: 282px;
	margin: auto;
	border-bottom: 2px solid #333;
	box-sizing: border-box;
}

.imgpenyakit img {
	margin-top: 2px;
	margin-left: 40px;
	margin-right: 30px;
	width: 200px;
	height: 200px;
}

.info {
	width: 280px;
	height: 40px;
}

.info button  {
	border: none;
	padding: 6px;
	color: #333;	
	background-color: skyblue;
	margin: 6px 95px;
	border-radius: 5px;
}
.info a {
	font-size: 13px;
	text-decoration: none;
	color: #333;
}

.info button:hover {
	background-color: lightblue;
}

/*css hal conten admin*/
.contadmin {
	padding: 20px;
 	box-sizing: border-box;
 	height: 100%;

}

.contadmin table {
	width: 900px;
	box-sizing: border-box;
	margin: auto;
	overflow: auto;
}
.contadmin tr th, td{
	border: 3px solid #333;
	padding: 5px;
	text-align: center;
}

.contadmin button {
	width: 55px;
	border: none;	
	padding: 10px;
	background-color: skyblue;
	border-radius: 5px;
}

.contadmin a {
	color: #333;
	text-decoration: none;
}

.contadmin button:hover {
	background-color: lightblue;
}

/*css tombol tambah data*/
.bttambah {
	margin-bottom: 30px;
	margin-left: 10px;
}

.bttambah a {
	padding: 10px;
	text-decoration: none;
	font-size: 15px;
	color: #333;	
	background-color: skyblue;
	border-radius: 5px; 
}

.bttambah a:hover {
	background-color: lightblue;
}

/*css pd hal tambah data*/
.tambahdata {
	width: 500px;
	background-color: white;
	margin:150px auto;
	border: 4px dashed lightblue;
}

.penyakit {
	width: 800px;
}

.tambahdata	 h2{
	font-size: 28px;
	text-align: center;
	padding: 20px;
	margin-top: 15px;
}

.tambahdata	 table {
	margin: 10px auto 30px;	
}

.tambahdata	 table td {
	padding: 20px;
	font-size: 20px;
	text-align: center;
	border: none;
}

.tambahdata	 input {
	padding: 8px;
	border: none;
	border-bottom: 1px solid #333;
	font-size: 15px;
}

.tambahdata button {
	border: none;
	width: 90px;
	padding: 10px;
	font-size: 20px;
	color: #333;	
	background-color: skyblue;
	margin-right: 20px;
	margin-left: 20px;
	border-radius: 5px;
}

.tambahdata textarea {
	width: 400px;
	height: 250px;
}

.tambahdata	 a {
	text-decoration: none;
	color: #333;
}
.tambahdata button:hover {
	background-color: lightblue;
}

/*css pd hal ubah data*/
.ubahdata {
	width: 500px;
	background-color: white;
	margin:150px auto;
	border: 4px dashed lightblue;
}

.penyakit {
	width: 800px;
	margin-top: 50px;
}
.ubahdata h2{
	font-size: 28px;
	text-align: center;
	padding: 20px;
	margin-top: 15px;
}

.ubahdata table {
	margin: 10px auto 30px;
	
}
.ubahdata table td {
	padding: 20px;
	font-size: 20px;
	text-align: center;
	border: none;
}

.ubahdata input {
	padding: 8px;
	border: none;
	border-bottom: 1px solid #333;
	font-size: 15px;
}

.ubahdata button {
	border: none;
	width: 90px;
	padding: 10px;
	font-size: 20px;
	color: #333;	
	background-color: skyblue;
	margin-right: 20px;
	margin-left: 20px;
	border-radius: 5px;
}

.ubahdata textarea {
	width: 400px;
	height: 250px;
}

.ubahdata a {
	text-decoration: none;
	color: #333;
}
.ubahdata button:hover {
	background-color: lightblue;
}